{% extends "./base.html" %} {% load static %} 
{% block title %}Todo Celular{%endblock %} 

{% block content %}

<link href="src/home.css" rel="stylesheet">

<main>
  <section class="py-5 text-center container bg-primary">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Busca, Encuentra, Disfruta</h1>
        <p class="lead text-muted">
          Encuentra todo para tu celular, Abierto desde las 10:30am, Valparaiso #555
        </p>

        <p>
          <a href="https://www.google.com/maps/dir//Todo+Celular/@-33.0244749,-71.6249629,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x9689dd3619066503:0xb9f812e9b8c5b955!2m2!1d-71.5549163!2d-33.0244633"
           target="_blank" class="btn rounded-pill btn-primary my-2 hoverhover">Encuentranos en el Mapa</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="pb-3 h5">Todos los Productos</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm ">

            <a href="{{ product.get_absolute_url }}">
            <img
              class="img-fluid"
              alt="Imagen del Producto"
              src="{{ product.image.url }}"
      
            /> </a>

            <div class="card-body">
              <p class="card-text">
                <a
                  class="text-dark text-decoration-none"
                  href="{{ product.get_absolute_url }}"
                >{{ product.nombre }}</a
                >
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">$ {{product.price}}</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>


</main>

{% endblock %}
