.botonFlotante {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 4%;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    z-index: 80;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    opacity: 0.3;
}

.botonFlotante:hover {
    opacity: 1;
}

.whatsapp {
    right: 2%;
}

.whatsapp-icon {
margin-top: 40px;
}

#myBtn {
    display: none; /*Hidden by default*/
    left: 2%; /* Place the button 30px from the right */
    background-color: rgb(0, 255, 136); /* Set a background color */
}

