.footer {
  width: 100%;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-image: linear-gradient(to bottom right, #121212, #3d4a5d);
}

.breakline{
    width: 100%;
    display: none;
}

/*Responsive Design*/
@media screen and (max-width: 600px) {
    .footer{
        height: 90px;
        justify-content:left;
        align-items: left;
    }

    .breakline {
        display: block;
    }
}

@media screen and (max-width:800px) {

}